{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Продажа цветов
{% endblock %}

{% block content %}
<div class="row">
    {% for flower in flowers %}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="{{ flower.image.url }}" alt="">
        <div class="card-body">
          <h4 class="card-title">
            {{ flower.name }}
          </h4>
          <h5>{{ flower.price }} грн.</h5>
            <button class="btn btn-danger">Добавить в корзину</button>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}