<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Для адаптивной верстки-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/style.css">
    <!-- Imbue font: for main title -->
    <!-- font-family: 'Imbue', serif; -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Imbue:wght@300&display=swap" rel="stylesheet">
    <!-- Bebas Neue font -->
    <!-- font-family: 'Bebas Neue', cursive; -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <!-- Cinzel font: Semi-bold  -->
    <!-- font-family: 'Cinzel', serif; -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap" rel="stylesheet">
    <!-- Fredericka the Great: Chalking style -->
    <!-- font-family: 'Fredericka the Great', cursive; -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <!-- Lora: Desription typping style -->
    <!-- font-family: 'Lora', serif; -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <!-- Caveat -->
    <!-- font-family: 'Caveat', cursive; -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet">
    <!-- Tangerine -->
    <!-- font-family: 'Tangerine', cursive; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <!--  -->
    <!-- -->
    <title>Title</title>
</head>
<body>
    <header class="header">
            <div class="h_panel_1">
                <nav class="navigation_1">
                    <a class="nav_header_link" href="#" data-scroll="#">О нас</a>
                    <a class="nav_header_link" href="#" data-scroll="#">Оплата</a>
                    <a class="nav_header_link" href="#" data-scroll="#">Контакты</a>
                    <a class="nav_header_link" href="#" data-scroll="#">Помощь</a>
                </nav>
                <nav class="navigation_1">
                    <a class="nav_header_link" href="#" data-scroll="#">Язык</a>
                    <a class="nav_header_link" href="#" data-scroll="#">Статус заказа</a>
                    <a class="nav_header_link" href="#" data-scroll="#">Карзина</a>
                    <a class="nav_header_link" href="#" data-scroll="#">Войти</a>
                </nav>
            </div>
            <div class="h_panel_2">
                <div class="main_name" href="#">Secrets de Fleur's</div>
                <nav class="navigation">
                    <a class="nav_header_link" href="#" data-scroll="#">Мероприятия</a>
                    <a class="nav_header_link" href="#" data-scroll="#">Идеи для Букетов</a>
                    <a class="nav_header_link" href="#" data-scroll="#">Цветы</a>
                </nav>
            </div>
        <!--
            <div class="h_panel_3">
                <nav class="navigation">

                </nav>
            </div>
-->
    </header>
    <div class="indent_2">
        <img src="materials/pictures/header_2.jpg">
    </div>
    <main class="general_main">
        <div class="container">
            <header class="m_header">
                <div>
                    ПОИСК
                </div>
                <div>
                    КОНСТРУКТОР БУКЕТОВ
                </div>
            </header>
            <main class="m_main">
                <div>
                    <div>
                        Выбор цветов и зелени
                    </div>
                    <div>
                        Итог
                    </div>
                </div>
                <div>
                    <div>
                        ЦВЕТЫ
                    </div>
                    <div>
                        ГОРШОК
                    </div>
                </div>
                <div>
                    Далее
                </div>
            </main>
        </div>
    </main>
    <div class="bridge">
        <div class="container">

        </div>
    </div>
    <footer class="general_footer">
        <div class="container">
            <header class="cont_header">
                <h2 class="cont_title">Contact us</h2>
                <div class="cont">
                    <div class="log_w">
                        Secrets de Fleur's
                    </div>
                    <div class="info_c">
                        <div class="number">
                            <div class="phone"><img src="materials/icons/icon_telephone.png" width="25px" height="25px"></div>
                            <div>
                                <div class="num_1_p">+380(950)999000</div>
                                <div class="num_1_p">+380(950)777000 Горячая линия</div>
                            </div>
                        </div>
                        <div class="adress">
                            <div class="point"><img src="materials/icons/icon_point.png" width="30px" height="30px"></div>
                            <div>Storm str. Ai Mari - 47</div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </footer>
</body>
</html>