{% extends 'main/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<header class="m_header">
    <div>
        ПОИСК
    </div>
    <div>
        КОНСТРУКТОР БУКЕТОВ
    </div>
</header>
<main class="m_main">
    <div>
        <div>
            Выбор цветов и зелени
        </div>
        <div>
            Итог
        </div>
    </div>
    <div>
        <div>
            ЦВЕТЫ
        </div>
        <div>
            ГОРШОК
        </div>
    </div>
    <div>
        Далее
    </div>
</main>
{% endblock %}